//Variables

$color-white-1: #FFFFFF;

$color-gray-1: #FFFFFF33;
$color-gray-2: #FFFFFF7F;

$color-blue-1: rgb(7, 7, 36);

$color-mercury-cyan: #419EBB;
$color-venus-brown: #EDA249;
$color-earth-magenta: #6D2ED5;
$color-mars-red: #D14C32;
$color-jupiter-red: #D83A34;
$color-saturn-red: #CD5120;
$color-uranus-cyan: #1EC1A2;
$color-neptune-blue: #2D68F0;

:export {
  colorMercury: $color-mercury-cyan;
  colorVenus: $color-venus-brown;
  colorEarth: $color-earth-magenta;
  colorMars: $color-mars-red;
  colorJupiter: $color-jupiter-red;
  colorSaturn: $color-saturn-red;
  colorUranus: $color-uranus-cyan;
  colorNeptune: $color-neptune-blue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Antonio", sans-serif;
  color: #FFFFFF;
  background-color: rgb(7, 7, 36);
  background-image: url("./media/background-stars.svg");
  background-size: cover;
}

a:visited {
  color: rgba(255, 255, 255, 0.2);
}