//Variables

$color-white-1: #FFFFFF;

$color-gray-1: #FFFFFF33;
$color-gray-2: #FFFFFF7F;

$color-blue-1: #070724;

$color-mercury-cyan: #419EBB;
$color-venus-brown: #EDA249;
$color-earth-magenta: #6D2ED5;
$color-mars-red: #D14C32;
$color-jupiter-red: #D83A34;
$color-saturn-red: #CD5120;
$color-uranus-cyan: #1EC1A2;
$color-neptune-blue: #2D68F0;

:export {
  colorMercury: $color-mercury-cyan;
  colorVenus: $color-venus-brown;
  colorEarth: $color-earth-magenta;
  colorMars: $color-mars-red;
  colorJupiter: $color-jupiter-red;
  colorSaturn: $color-saturn-red;
  colorUranus: $color-uranus-cyan;
  colorNeptune: $color-neptune-blue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:visited {
  color: $color-gray-1;
}

body {
  font-family: 'Antonio', sans-serif;
  color: $color-white-1;
  background-color: $color-blue-1;
  background-image: url("./media/background-stars.svg");
  background-size: cover;
}

header {
  display: flex;
  align-items: center;
  height: 68px;
  padding: 0 24px;
}

main {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.header-title {
  font-weight: 400;
  font-size: 28px;
}

.nav {
  margin: 0 0 0 auto;

  &-checkbox {
    display: none;
  }

  &-toggle {
    cursor: pointer;

    &-close {
      display: none;
    }
  }

  &-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 69px;
    left: 0;
    width: 100vw;
    padding: 24px 0 47px 0;
    background: $color-blue-1;

    li {
      display: flex;
      list-style: none;
      align-items: center;
      padding: 20px 32px;
      background: $color-blue-1;
      height: 66px;
      border-bottom: 1px solid $color-gray-1;
    }

    a {
      text-decoration: none;
      font-family: 'League Spartan', sans-serif;
      font-weight: 700;
      font-size: 21px;
    }
  }
}

.list-icon {
  aspect-ratio: 1 / 2;
  height: 8px;
  margin: 0 0 0 auto;
}

.main-info-menu {
  display: flex;
  height: 52px;
  width: 100%;
  justify-content: space-between;
  padding: 0 24px;
  border-top: 1px solid $color-gray-1;
  border-bottom: 1px solid $color-gray-1;

  &-btn {
    display: flex;
    background: none;
    color: $color-gray-2;
    border: none;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    width: 80px;
  }
}

.planet {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 304px;

  &-img {
    aspect-ratio: 1 / 1;
    width: 29.6%;
  }
}

.general-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 87.2%;
  margin-bottom: 28px;

  &-name {
    font-weight: 400;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 16px;
  }

  &-summary {
    font-family: 'League Spartan', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    line-height: 22px;
    margin-bottom: 32px;
  }

  &-source {
    display: flex;
    color: $color-gray-2;
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
    line-height: 25px;
    align-items: center;
    justify-content: center;

    &-title {
      font-weight: 400;
    }

    &-link {
      color: $color-gray-2;
      font-weight: 700;
      margin-right: 4px;
    }

    &-icon {
      height: 12px;
      width: 12px;
      align-self: flex-end;
      margin: auto;
    }
  }
}

.details {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  row-gap: 8px;
  width: 100%;
  margin-bottom: 28px;

  &-item {
    display: flex;
    width: 87.2%;
    height: 48px;
    align-items: center;
    border: 1px solid $color-gray-1;
    padding: 0 24px;
    margin: 0 auto;

    &-title {
      font-family: 'League Spartan', sans-serif;
      font-weight: 700;
      font-size: 11px;
      color: $color-gray-2;
      letter-spacing: 0.727273px;
    }

    &-data {
      font-weight: 400;
      font-size: 20px;
      margin: 0 0 0 auto;
    }
  }
}

.attribution {
  margin: 0 auto 14px auto;
  text-align: center;
  font-size: 15px;
  width: 87.2%;
}

#nav-checkbox:checked ~ ul.nav-menu {
  display: flex;
}

#nav-checkbox:checked ~ label.nav-toggle .nav-toggle-menu {
  display: flex;
  opacity: 0.25;
}

@media screen and (min-width: 376px) {

  header {
    display: flex;
    flex-direction: column;
    height: 160px;
    padding: 0 0;
    margin: 32px 0 39px 0;
  }

  .header-title {
    display: flex;
  }

  .nav {

    &-toggle {
      display: none;
    }

    &-menu {
      display: flex;
      flex-direction: row;
    }
  }
}