:export {
  colorMercury: #419EBB;
  colorVenus: #EDA249;
  colorEarth: #6D2ED5;
  colorMars: #D14C32;
  colorJupiter: #D83A34;
  colorSaturn: #CD5120;
  colorUranus: #1EC1A2;
  colorNeptune: #2D68F0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:visited {
  color: rgba(255, 255, 255, 0.2);
}

body {
  font-family: "Antonio", sans-serif;
  color: #FFFFFF;
  background-color: rgb(7, 7, 36);
  background-image: url("./media/background-stars.svg");
  background-size: cover;
}

header {
  display: flex;
  align-items: center;
  height: 68px;
  padding: 0 24px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-title {
  font-weight: 400;
  font-size: 28px;
}

.nav {
  margin: 0 0 0 auto;
}
.nav-toggle-menu {
  cursor: pointer;
}
.nav-toggle-menu-close {
  opacity: 0.25;
  cursor: pointer;
}
.nav-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 69px;
  left: 0;
  width: 100vw;
  padding: 24px 0 100% 0;
  background: rgb(7, 7, 36);
}
.nav-menu-hidden {
  display: none;
}
.nav-menu-circle {
  background: #FFFFFF;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  margin-right: 24px;
}
.nav-menu li {
  display: flex;
  list-style: none;
  align-items: center;
  background: rgb(7, 7, 36);
  height: 66px;
  padding: 20px 32px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.nav-menu a {
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 19px;
  text-transform: uppercase;
  letter-spacing: 1.36364px;
}

.list-icon {
  aspect-ratio: 1/2;
  height: 8px;
  margin: 0 0 0 auto;
}

.main-info-menu {
  display: flex;
  height: 52px;
  width: 100%;
  justify-content: space-between;
  padding: 0 24px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.main-info-menu-btn, .main-info-menu-btn-selected {
  display: flex;
  background: none;
  color: rgba(255, 255, 255, 0.4980392157);
  border: none;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  width: 80px;
  cursor: pointer;
}
.main-info-menu-btn-selected {
  color: #FFFFFF;
  border-bottom: 4px solid red;
  border-top: 4px solid transparent;
}

.planet {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 304px;
}
.planet-img {
  aspect-ratio: 1/1;
  width: 29.6%;
}

.general-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 87.2%;
  margin-bottom: 28px;
}
.general-info-name {
  font-weight: 400;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.general-info-summary {
  font-family: "League Spartan", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  line-height: 22px;
  margin-bottom: 32px;
}
.general-info-source {
  display: flex;
  color: rgba(255, 255, 255, 0.4980392157);
  font-family: "League Spartan", sans-serif;
  font-size: 15px;
  line-height: 25px;
  align-items: center;
  justify-content: center;
}
.general-info-source-title {
  font-weight: 400;
}
.general-info-source-link {
  color: rgba(255, 255, 255, 0.4980392157);
  font-weight: 700;
  margin-right: 4px;
}
.general-info-source-icon {
  height: 12px;
  width: 12px;
  align-self: flex-end;
  margin: auto;
}

.details {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  row-gap: 8px;
  width: 100%;
  margin-bottom: 28px;
}
.details-item {
  display: flex;
  width: 87.2%;
  height: 48px;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0 24px;
  margin: 0 auto;
}
.details-item-title {
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.4980392157);
  letter-spacing: 0.727273px;
}
.details-item-data {
  font-weight: 400;
  font-size: 20px;
  margin: 0 0 0 auto;
}

.attribution {
  margin: 0 auto 14px auto;
  text-align: center;
  font-size: 15px;
  width: 87.2%;
}

@media screen and (min-width: 376px) {
  header {
    display: flex;
    flex-direction: column;
    height: 160px;
    padding: 0 0;
    margin: 32px 0 39px 0;
  }
  .header-title {
    display: flex;
  }
  .nav-menu {
    display: flex;
    flex-direction: row;
  }
}

/*# sourceMappingURL=styles.css.map */
