:export {
  colorCyan1: #55C2E6;
  colorOrange1: #FF8B64;
  colorPink1: #FF5E7D;
  colorGreen1: #4BCF82;
  colorMagenta1: #7335D2;
  colorYellow1: #F1C75B;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  color: #FFFFFF;
  background: #0E1323;
}

main {
  display: inline-flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-weight: 300;
  font-size: 56px;
  margin-bottom: 8px;
}

h2 {
  font-weight: 300;
  font-size: 40px;
}

h3 {
  font-weight: 500;
  font-size: 18px;
}

.dashboard-main-container, .dashboard-secondary-container {
  display: flex;
  flex-direction: column;
}

.dashboard-main-container, .dashboard-secondary-container, .card-bg, .card-content {
  width: 255px;
  border-radius: 15px;
}

.dashboard-main-container {
  background: #1C204B;
  height: 518px;
  margin-right: 30px;
}

.dashboard-secondary-container {
  background: #5747EA;
  height: 354px;
  padding-left: 32px;
  margin-bottom: 26px;
}

.profile-img {
  height: 78px;
  width: 78px;
  border: 3px solid #FFFFFF;
  border-radius: 39px;
  margin: 37px 0 43px 0;
}

.report-title {
  font-weight: 400;
  font-size: 15px;
  color: #BBC0FF;
  margin-bottom: 3px;
}

.dashboard-tab {
  display: flex;
  flex-direction: column;
  row-gap: 21px;
}

.dashboard-btn, .selected-dashboard-btn {
  display: flex;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  background: none;
  border: none;
  cursor: pointer;
  padding-left: 32px;
}

.dashboard-btn {
  color: #7078C9;
}
.dashboard-btn:hover {
  color: #FFFFFF;
}

.selected-dashboard-btn {
  color: #FFFFFF;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 825px;
}

.card-bg {
  background-color: #FF8B64;
  background-image: url("media/icon-work.svg");
  background-repeat: no-repeat;
  background-position: 88% -12%;
  background-origin: content-box;
  height: 160px;
}

.card-content {
  position: absolute;
  background: #1C204B;
  height: 199px;
  margin-top: 45px;
  padding: 29px 35px 0 30px;
}
.card-content:hover {
  background: #33397A;
  cursor: pointer;
}

.card-btn-align {
  display: flex;
  margin-bottom: 24px;
}

.card-btn {
  display: flex;
  cursor: pointer;
  padding-bottom: 3px;
  align-self: center;
  margin-left: auto;
  margin-right: 0;
}
.card-btn:hover {
  filter: brightness(0) invert(1);
}

.previous-time {
  font-weight: 400;
  font-size: 15px;
  color: #BBC0FF;
}

.attribution {
  font-weight: 500;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 4px;
}
.attribution a {
  color: #FF5E7D;
}

@media screen and (max-width: 375px) {
  main {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
  h1 {
    font-size: 32px;
    margin-bottom: 0;
  }
  h2 {
    font-size: 24px;
    margin: 0 0 41px 84px;
  }
  .dashboard-main-container, .dashboard-secondary-container, .card-container, .card-bg, .card-content {
    width: 327px;
  }
  .dashboard-main-container {
    height: 203px;
    margin: 81px auto 24px auto;
  }
  .dashboard-secondary-container {
    height: 133px;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .profile-img {
    position: absolute;
    height: 64px;
    width: 64px;
    border-radius: 32px;
    margin: 35px 0 auto 0;
  }
  .report-title {
    margin: 42px 0 4px 84px;
  }
  .dashboard-tab {
    flex-direction: row;
    column-gap: 50px;
    justify-content: center;
  }
  .dashboard-btn, .selected-dashboard-btn {
    padding: 0;
  }
  .card-container {
    height: auto;
    margin: 0 auto 0 auto;
    gap: 24px 0;
  }
  .card-content {
    display: flex;
    flex-wrap: wrap;
    height: 122px;
    margin-top: 38px;
    padding: 28px 24px;
  }
  .card-btn-align {
    margin-bottom: 7px;
    width: 279px;
  }
  .previous-time {
    padding: 10px 0;
    margin: 0 0 0 auto;
  }
  .attribution {
    width: 250px;
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 24px 0;
    text-align: center;
  }
}

/*# sourceMappingURL=styles.css.map */
