header {
  display: flex;
  align-items: center;
  height: 68px;
  padding: 0 24px;
}

.header-title {
  font-weight: 400;
  font-size: 28px;
}

@media screen and (min-width: 376px) {

  header {
    flex-direction: column;
    height: 160px;
    padding: 0 0;
  }

  .header-title {
    padding-top: 32px;
  }
}

@media screen and (min-width: 769px) {

  header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    height: auto;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .header-title {
    letter-spacing: -1.05px;
    width: 109px;
    margin: 22px 0 0 2.22222222%;
    padding: 0;
  }
}