main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-info-menu {
  display: flex;
  height: 52px;
  width: 100%;
  justify-content: space-between;
  padding: 0 24px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.main-info-menu-btn {
  display: flex;
  background: none;
  color: rgba(255, 255, 255, 0.4980392157);
  border: none;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  width: 80px;
  cursor: pointer;
}

.main-info-menu-btn-selected {
  color: #FFFFFF;
  border-bottom: 4px solid red;
  border-top: 4px solid transparent;
}

.planet {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 304px;
  padding: 0 0 3px 0;
}

.planet-img {
  aspect-ratio: 1/1;
  width: 29.6%;
}

.general-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 87.2%;
  margin-bottom: 28px;
}

.general-info-name {
  font-weight: 400;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.general-info-summary {
  font-family: "League Spartan", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  line-height: 22px;
  margin-bottom: 32px;
}

.general-info-source {
  display: flex;
  color: rgba(255, 255, 255, 0.4980392157);
  font-family: "League Spartan", sans-serif;
  font-size: 15px;
  line-height: 25px;
  align-items: center;
  justify-content: center;
}

.general-info-source-title {
  font-weight: 400;
}

.general-info-source-link {
  color: rgba(255, 255, 255, 0.4980392157);
  font-weight: 700;
  margin-right: 4px;
}

.general-info-source-icon {
  height: 12px;
  width: 12px;
  align-self: flex-end;
  margin: auto;
}

.details {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  row-gap: 8px;
  width: 100%;
  margin-bottom: 28px;
}

.details-item {
  display: flex;
  width: 87.2%;
  height: 48px;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0 24px;
  margin: 0 auto;
}

.details-item-title {
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.4980392157);
  letter-spacing: 0.727273px;
}

.details-item-data {
  font-weight: 400;
  font-size: 20px;
  margin: 0 0 0 auto;
}

@media screen and (min-width: 376px) {
  main {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .main-info-menu {
    order: 3;
    flex-direction: column;
    row-gap: 16px;
    height: auto;
    width: 36.5885416%;
    border-top: none;
    border-bottom: none;
    padding: 0;
    margin: 0 5.2083333% 0 auto;
    counter-reset: section;
  }
  .main-info-menu-btn {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    color: #FFFFFF;
    height: auto;
    width: 100%;
    letter-spacing: 1.92857px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 14px 0 14px 20px;
  }
  .main-info-menu-btn:hover {
    background-color: rgba(216, 216, 216, 0.2);
  }
  .main-info-menu-btn-selected {
    background: red;
  }
  .main-info-menu-btn::before {
    counter-increment: section;
    content: counter(section, decimal-leading-zero);
    color: rgba(255, 255, 255, 0.4980392157);
    margin-right: 14px;
  }
  .planet {
    order: 1;
    height: 460px;
    padding: 16px 0 0 0;
  }
  .planet-img {
    width: 23.958333%;
  }
  .general-info {
    order: 2;
    align-items: flex-start;
    height: auto;
    width: 44.140625%;
    margin: 0 0 27px 5.2083333%;
  }
  .general-info-name {
    font-size: 48px;
    margin-bottom: 24px;
  }
  .general-info-summary {
    text-align: left;
  }
  .details {
    order: 4;
    flex-direction: row;
    column-gap: 11px;
    height: 88px;
    justify-content: center;
  }
  .details-item {
    flex-direction: column;
    height: 100%;
    width: 21.356%;
    align-items: flex-start;
    justify-content: center;
    padding: 0 0 0 1.954%;
    margin: 0;
  }
  .details-item-data {
    font-size: 24px;
    margin: 0;
  }
}
@media screen and (min-width: 769px) {
  main {
    display: grid;
    grid-template-columns: 64.236111% auto;
    grid-auto-rows: minmax(100px, auto);
  }
  .planet {
    grid-column: 1;
    grid-row: 1/3;
    height: 754px;
    width: available;
    padding: 20px 0 0 0;
  }
  .planet-img {
    width: 31.35135%;
  }
  .general-info {
    grid-column: 2;
    grid-row: 1;
    width: 100%;
    margin: auto 0 0 0;
    padding-right: 165px;
  }
  .general-info-name {
    font-size: 80px;
    margin-bottom: 23px;
  }
  .general-info-summary {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 24px;
  }
  .general-info-source {
    font-size: 17px;
    margin-bottom: 39px;
  }
  .main-info-menu {
    grid-column: 2;
    grid-row: 2;
    width: 100%;
    margin: 0 0 auto 0;
    padding-right: 165px;
  }
  .details {
    grid-column: 1/3;
    grid-row: 3;
    column-gap: 30px;
    padding: 0 165px;
  }
  .details-item {
    height: 128px;
    width: 100%;
    padding: 0 0 0 23px;
  }
  .details-item-title {
    font-size: 14px;
    margin-bottom: 4px;
  }
  .details-item-data {
    font-size: 40px;
  }
}

/*# sourceMappingURL=Main.css.map */
