* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  background-image: url("assets/pattern-bg.png");
  background-repeat: no-repeat;
  background-position: top center;
}

@media (min-width: 1441px) {
  body {
    background-size: cover;
  }
}
