:export {
  colorBlue5: #ECF0FB;
  colorCyan5: #A4F3EB;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  color: #293356;
  background: #F9FAFE;
}

header {
  text-align: center;
  height: 449px;
  background-color: #F1F5FE;
  border-bottom-left-radius: 191.5px;
}

h1 {
  font-weight: 800;
  font-size: 28px;
  margin-bottom: 12px;
}

h2 {
  font-weight: 600;
  font-size: 15px;
  color: #848EAD;
}

main {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  margin-top: 266px;
  width: 540px;
  height: 397px;
  background: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 20px 30px -5px rgba(127, 137, 185, 0.152073);
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 4px;
}

hr {
  background-color: #ECF0FB;
  height: 1px;
  border-width: 0;
  margin-top: 40px;
  margin-bottom: 32px;
}

.header-bg-img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  top: 0;
  margin-top: 67px;
  background-image: url("/media/pattern-circles.svg");
  background-position: center;
  background-repeat: no-repeat;
  height: 145px;
}

.page-views {
  display: flex;
  color: #848EAD;
  font-weight: 800;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  vertical-align: 8px;
  margin-left: 46px;
  margin-top: 58px;
}

.amount-per-period {
  display: inline-block;
  margin-top: 40px;
  margin-left: 103px;
}

.amount {
  color: #293356;
  font-weight: 800;
  font-size: 40px;
  letter-spacing: -1px;
}

.period {
  color: #848EAD;
  font-weight: 600;
  font-size: 16px;
  vertical-align: 8px;
  margin-left: 8px;
}

.mobile-view-order {
  display: inline-flex;
  flex-wrap: wrap;
}

.slide-container {
  display: flex;
  align-items: center;
  height: 40px;
  width: 444px;
  margin: 24px 48px 40px 48px;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 5px;
  background: linear-gradient(to right, #A4F3EB 0%, #A4F3EB 50%, #ECF0FB 50%, #ECF0FB 100%);
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  border: 0;
  background-color: #10D8C4;
  border-radius: 20px;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb:active {
  background-color: #24AEA1;
  background-image: url("/media/icon-slider.svg");
  background-position: center;
  background-repeat: no-repeat;
  filter: drop-shadow(0 15px 30px rgba(0, 255, 231, 0.6));
}

.billing-grouping {
  display: flex;
  height: 22px;
  align-items: center;
  margin-left: 154px;
}

.toggle-info {
  display: inline-flex;
  align-items: center;
}

.toggle-details {
  display: flex;
  color: #848EAD;
  font-weight: 600;
  font-size: 12px;
}

.switch {
  position: relative;
  display: inline-block;
  height: 22px;
  width: 43px;
  margin: 0 16px;
}
.switch input {
  opacity: 0;
  height: 0;
  width: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #CFD8EF;
}
.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 4px;
  background: #FFFFFF;
  transition: transform 400ms ease;
}
.slider.round {
  border-radius: 15px;
}
.slider.round:before {
  border-radius: 50%;
}

input[type=checkbox]:checked + .slider {
  background: #7AEADF;
}
input[type=checkbox]:checked + .slider:before {
  transform: translateX(20px);
}

.discount {
  display: inline-flex;
  width: 80px;
}

.discount-mobile {
  display: none;
  width: 42px;
}

.discount, .discount-mobile {
  height: 19px;
  background: #FEEDE8;
  color: #FF8D68;
  font-weight: 800;
  font-size: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  margin-left: auto;
  margin-right: 65px;
}

.benefits-grouping {
  display: flex;
  align-items: center;
}

.benefits {
  display: inline-flex;
  flex-direction: column;
  row-gap: 10px;
  font-weight: 600;
  font-size: 12px;
  color: #848EAD;
  margin-left: 48px;
  margin-right: 130px;
}

.checkmark-grouping {
  display: flex;
  align-items: center;
}

.checkmark {
  height: 8px;
  width: 8px;
  margin-right: 16px;
}

.trial-btn {
  cursor: pointer;
  height: 41px;
  width: 170px;
  border-radius: 20.5px;
  background: #293356;
  font-weight: 800;
  font-size: 12px;
  color: #FFFFFF;
}
.trial-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 375px) {
  body {
    background: #FFFFFF;
  }
  header {
    height: 400px;
  }
  h1 {
    font-size: 20px;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 8px;
  }
  h2 {
    font-size: 13px;
  }
  h2 span {
    display: block;
  }
  main {
    height: 478px;
    width: 327px;
    margin-top: 234px;
  }
  .header-bg-img {
    margin-top: 57px;
  }
  .mobile-view-order {
    flex-direction: column;
  }
  .page-views {
    order: 1;
    font-size: 12px;
    margin: 34px auto 25px auto;
  }
  .amount-per-period {
    margin: 0 auto 34px auto;
    order: 3;
  }
  .amount {
    font-size: 32px;
  }
  .period {
    font-size: 14px;
    vertical-align: 6px;
  }
  .slide-container {
    order: 2;
    width: 279px;
    margin: 0 24px 24px 24px;
  }
  .billing-grouping {
    margin: 0 auto 38px 44px;
  }
  .toggle-details {
    font-size: 12px;
    white-space: nowrap;
  }
  .switch {
    margin: 0 12px;
  }
  .discount {
    display: none;
  }
  .discount-mobile {
    display: inline-flex;
    font-size: 10px;
    margin-right: 11.5px;
  }
  hr {
    margin: 0 auto 24px auto;
  }
  .benefits-grouping {
    display: flex;
    flex-direction: column;
  }
  .benefits {
    margin: 0 auto 32px auto;
  }
  .checkmark-grouping {
    margin-left: auto;
    margin-right: auto;
  }
  footer {
    font-size: 13px;
  }
}

/*# sourceMappingURL=styles.css.map */
