// Variables

$color-blue-1: #293356;
$color-blue-2: #848EAD;
$color-blue-3: #BECDFF;
$color-blue-4: #CFD8EF;
$color-blue-5: #ECF0FB;
$color-blue-6: #F1F5FE;
$color-blue-7: #F9FAFE;

$color-cyan-1: #24AEA1;
$color-cyan-2: #10D8C4;
$color-cyan-3: #7AEADF;
$color-cyan-4: #80FFF3;
$color-cyan-5: #A4F3EB;

$color-orange-1: #FF8D68;
$color-orange-2: #FEEDE8;

:export {
  colorBlue5: $color-blue-5;
  colorCyan5: $color-cyan-5;
}

//Mixins
@mixin horizontal-center() {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  color: $color-blue-1;
  background: $color-blue-7;
}

header {
  text-align: center;
  height: 449px;
  background-color: $color-blue-6;
  border-bottom-left-radius: 191.5px;
}

h1 {
  font-weight: 800;
  font-size: 28px;
  margin-bottom: 12px;
}

h2 {
  font-weight: 600;
  font-size: 15px;
  color: $color-blue-2;
}

main {
  @include horizontal-center();
  top: 0;
  margin-top: 266px;
  width: 540px;
  height: 397px;
  background: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 20px 30px -5px rgba(127, 137, 185, 0.152073);
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 4px;
}

hr {
  background-color: $color-blue-5;
  height: 1px;
  border-width: 0;
  margin-top: 40px;
  margin-bottom: 32px;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 5px;
  background: linear-gradient(to right, $color-cyan-5 0%, $color-cyan-5 50%, $color-blue-5 50%, $color-blue-5 100%);

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    border: 0;
    background-color: $color-cyan-2;
    border-radius: 20px;
    cursor: pointer;
  }

  &::-webkit-slider-thumb:active {
    background-color: $color-cyan-1;
    background-image: url("/media/icon-slider.svg");
    background-position: center;
    background-repeat: no-repeat;
    filter: drop-shadow(0 15px 30px rgba(0, 255, 231, 0.6));
  }

  &::-moz-range-thumb {
    width: 40px;
    height: 40px;
    border: 0;
    background-color: $color-cyan-2;
    border-radius: 20px;
    cursor: pointer;
  }

  &::-moz-range-thumb:active {
    background-color: $color-cyan-1;
    background-image: url("/media/icon-slider.svg");
    background-position: center;
    background-repeat: no-repeat;
    filter: drop-shadow(0 15px 30px rgba(0, 255, 231, 0.6));
  }
}

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  font-size: 0;
  width: 43px;
  height: 22px;
  background: $color-blue-4;
  display: block;
  border-radius: 100px;
  position: relative;
  margin: 0 16px;

  &:after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 14px;
    height: 14px;
    background: #FFFFFF;
    border-radius: 7px;
    transition: 0.3s;
  }
}

input:checked+label {
  background: $color-cyan-3;

  &:after {
    left: calc(100% - 4px);
    transform: translateX(-100%);
  }
}

.header-bg-img {
  @include horizontal-center();
  display: flex;
  align-items: center;
  top: 0;
  margin-top: 67px;
  background-image: url("/media/pattern-circles.svg");
  background-position: center;
  background-repeat: no-repeat;
  height: 145px;
}

.page-views {
  display: flex;
  color: $color-blue-2;
  font-weight: 800;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  vertical-align: 8px;
  margin-left: 46px;
  margin-top: 58px;
}

.amount-per-period {
  display: inline-block;
  margin-top: 40px;
  margin-left: 103px;
}

.amount {
  color: $color-blue-1;
  font-weight: 800;
  font-size: 40px;
  letter-spacing: -1px;
}

.period {
  color: $color-blue-2;
  font-weight: 600;
  font-size: 16px;
  vertical-align: 8px;
  margin-left: 8px;
}

.mobile-view-order {
  display: inline-flex;
  flex-wrap: wrap;
}

.slide-container {
  display: flex;
  align-items: center;
  height: 40px;
  width: 444px;
  margin: 24px 48px 40px 48px;
}

.billing-grouping {
  display: flex;
  height: 22px;
  align-items: center;
  margin-left: 154px;
}

.toggle-info {
  display: inline-flex;
  align-items: center;
}

.toggle-details {
  display: flex;
  color: $color-blue-2;
  font-weight: 600;
  font-size: 12px;
}

.discount {
  display: inline-flex;
  width: 80px;
}

.discount-mobile {
  display: none;
  width: 42px;
}

.discount , .discount-mobile {
  height: 19px;
  background: $color-orange-2;
  color: $color-orange-1;
  font-weight: 800;
  font-size: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  margin-left: auto;
  margin-right: 65px;
}

.benefits-grouping {
  display: flex;
  align-items: center;
}

.benefits {
  display: inline-flex;
  flex-direction: column;
  row-gap: 10px;
  font-weight: 600;
  font-size: 12px;
  color: $color-blue-2;
  margin-left: 48px;
  margin-right: 130px;
}

.checkmark-grouping {
  display: flex;
  align-items: center;
}

.checkmark {
  height: 8px;
  width: 8px;
  margin-right: 16px;
}

.trial-btn {
  cursor: pointer;
  height: 41px;
  width: 170px;
  border-radius: 20.5px;
  background: $color-blue-1;
  font-weight: 800;
  font-size: 12px;
  color: #FFFFFF;

  &:hover {
    opacity: 0.8;
  }
}

@media screen and (max-width: 375px) {

  body {
    background: #FFFFFF;
  }

  header {
    height: 400px;
  }

  h1 {
    font-size: 20px;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 8px;
  }

  h2 {
    font-size: 13px;

    span {
      display: block;
    }
  }

  main {
    height: 478px;
    width: 327px;
    margin-top: 234px;
  }

  label {
    margin: 0 12px;
  }

  hr {
    margin: 0 auto 24px auto;
  }

  footer {
    font-size: 13px;
  }

  .header-bg-img {
    margin-top: 57px;
  }

  .mobile-view-order {
    flex-direction: column;
  }

  .page-views {
    order: 1;
    font-size: 12px;
    margin: 34px auto 25px auto;
  }

  .amount-per-period {
    margin: 0 auto 34px auto;
    order: 3;
  }

  .amount {
    font-size: 32px;
  }

  .period {
    font-size: 14px;
    vertical-align: 6px;
  }

  .slide-container {
    order: 2;
    width: 279px;
    margin: 0 24px 24px 24px;
  }

  .billing-grouping {
    margin: 0 auto 38px 44px;
  }

  .toggle-details {
    font-size: 12px;
    white-space: nowrap;
  }

  .discount {
    display: none;
  }

  .discount-mobile {
    display: inline-flex;
    font-size: 10px;
    margin-right: 11.5px;
  }

  .benefits-grouping {
    display: flex;
    flex-direction: column;
  }

  .benefits {
    margin: 0 auto 32px auto ;
  }

  .checkmark-grouping {
    margin-left: auto;
    margin-right: auto;
  }

}