footer {
  position: absolute;
  bottom: 17px;
  width: 100%;
}

.icons {
  display: flex;
  column-gap: 32px;
  justify-content: center;
}

.footer-icon-container {
  cursor: pointer;
  height: 24px;
}

.footer-icon:hover path {
  fill: #FB5E84;
}

.attribution {
  color: #FFFFFF;
  font-size: 11px;
  text-align: center;
  margin: 17px 0 0 0;
}

.attribution a {
  color: #FB5E84;
}
